.entry-content > * {
  margin: 1rem auto;
  max-width: 600px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.entry-content > .alignwide {
  max-width: 1100px;
  text-align: center;
}

.entry-content > .alignfull {
  margin: 1rem 0;
  max-width: 100%;
}

.entry-content ul,
.entry-content ol {
  margin: 1rem auto;
  max-width: 600px;
  list-style-position: outside;
}

.wp-block-video video {
  max-width: 600px;
}

.wp-block-image img {
  display: block;
}

.wp-block-image.alignleft,
.wp-block-image.alignright {
  width: 100%
}

.wp-block-image.alignfull img {
  width: 100vw;
}

.wp-block-gallery:not(.components-placeholder) {
  margin: 1rem auto;
}

.wp-block-cover-text p {
  padding: 1rem 14px;
}

ul.wp-block-latest-posts.alignwide,
ul.wp-block-latest-posts.alignfull,
ul.wp-block-latest-posts.is-grid.alignwide,
ul.wp-block-latest-posts.is-grid.alignwide {
  padding: 0 14px;
}

.wp-block-table {
  display: block;
  overflow-x: auto;
}

.wp-block-table table {
  border-collapse: collapse;
  width: 100%
}

.wp-block-table td, .wp-block-table th {
  padding: .5em;
}

.entry-content li {
  margin-left: 2rem;
  margin-bottom: 0.3rem;
}

.entry-content ul ul,
.entry-content ol ol,
.entry-content ul ol,
.entry-content ol ul {
  margin: 0 auto;
}

.entry-content ul ul li,
.entry-content ol ol li,
.entry-content ul ol li,
.entry-content ol ul li {
  margin-left: 0;
}


.wp-block-embed.type-video > .wp-block-embed__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.wp-block-quote:not(.is-large):not(.is-style-large){
  border-left: none;
}

.wp-block-quote.is-large, .wp-block-quote.is-style-large {
  margin: 1rem auto;
}

.wp-block-quote cite {
  color: var(--color_muted);
  font-size: 0.8rem;
  margin-top: 0;
  position: absolute;
  left: 3rem;
  font-style: inherit;
  bottom: 0.1rem;
}

.wp-block-pullquote {
  border-top: 1px dashed var(--color_muted);
  border-bottom: 1px dashed var(--color_muted);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.wp-block-pullquote>p:first-child {
  margin-top: 0;
}

.wp-block-pullquote > p:before,
.wp-block-pullquote > p:after {
  content: "";
}

.wp-block-pullquote cite {
  color: var(--color_muted);
  font-style: inherit;
  text-transform: inherit;
}

.wp-block-separator {
  border: none;
  border-bottom: 1px dashed var(--color_muted);
  margin: 3rem auto;
  overflow: visible;
  position: relative;
}

hr.wp-block-separator.is-style-wide:before {
  color: var(--color_muted);
  content: "//";
  left: -2rem;
  position: absolute;
  top: -1rem;
}

.wp-block-button__link:not(.has-text-color), 
.wp-block-button__link:not(.has-text-color):active, 
.wp-block-button__link:not(.has-text-color):focus, 
.wp-block-button__link:not(.has-text-color):hover {
  color: var(--color_background);
}

.wp-block-button__link:not(.has-background), 
.wp-block-button__link:not(.has-background):active, 
.wp-block-button__link:not(.has-background):focus, 
.wp-block-button__link:not(.has-background):hover {
  background-color: var(--color_action);
}

.wp-block-button .wp-block-button__link:hover {
  box-shadow: 0 2px 8px rgba(0,0,0,0.5);
  position: relative;
  top: -1px;
}

@media screen and (min-width: 768px) {
  .wp-block-cover-text p {
    padding: 1rem 0;
  }

  .wp-block-quote:not(.is-large):not(.is-style-large) {
    padding-left: 0;
  }

  .entry-content > * {
    padding-left: 0px;
    padding-right: 0px;
  }

}

/*--------------------------------------------------------------
# Block Color Palette Colors
--------------------------------------------------------------*/
.has-strong-blue-color {
  color: #0073aa;
}

.has-strong-blue-background-color {
  background-color: #0073aa;
}

.has-lighter-blue-color {
  color: #229fd8;
}

.has-lighter-blue-background-color {
  background-color: #229fd8;
}

.has-very-light-gray-color {
  color: #eee;
}

.has-very-light-gray-background-color {
  background-color: #eee;
}

.has-very-dark-gray-color {
  color: #444;
}

.has-very-dark-gray-background-color {
  background-color: #444;
}